/* experience */
.experience {
	position: relative;
	overflow: hidden;
}

.experience-card {
	position: relative;
}
.experience.card article:not(:last-of-type) {
	margin-bottom: 32px;
}

.experience.card article:not(:last-of-type) .experience-card::before {
	background-color: var(--primary-text-color);
	content: "";
	display: inline-block;
	height: 100%;
	left: 8px;
	position: absolute;
	top: 26px;
	transform: translateX(-50%);
	width: 2px;
}

.experience-card::after {
	background-color: var(--primary-text-color);
	border-radius: 50%;
	content: "";
	display: inline-flex;
	height: 16px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 16px;
}

.experience-card .proficiencies-heading {
	margin-bottom: 5px;
}
