/* experience */
.experience {
	background-image: url('https://aakashdinkarh.github.io/static_assets/images/portfolio/original-images/experience.jpeg');
	background-image: url('https://aakashdinkarh.github.io/static_assets/images/portfolio/webp-images/experience.webp');
	background-image: url('https://aakashdinkarh.github.io/static_assets/images/portfolio/avif-images/experience.avif');
	background-size: cover;
	background-position: bottom;
	position: relative;
	overflow: hidden;
}

.experience-card {
	text-align: justify;
	position: relative;
	margin-bottom: 20px;
}

.experience-card.card:hover {
	box-shadow: inset 0px 0px 6px 3px var(--color-blue-1);
}
