/* Navigation Bar */
.nav {
	position: sticky;
	top: 0px;
	z-index: 2;
	background-color: var(--navy-blue);
}
.nav > nav {
	position: relative;
}
.m-nav {
	display: none;
}
.d-nav, .m-nav {
	width: 100%;
}
.d-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav .links {
	display: flex;
	justify-content: end;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.nav .nav-links {
	color: white;
	display: flex;
	font-size: large;
	border-radius: 4px;
	transition: all 0.3s;
}
.m-nav .nav-links a {
	padding: 20px;
	width: 100%;
}
.d-nav .nav-links a {
	padding: 12px;
}

.nav .nav-links:hover {
	background-color: var(--color-blue-1);
}

/* animated logo */
#logo {
	font-size: xx-large;
	background-color: var(--color-blue-1);
	padding: 5px;
	cursor: pointer;
	margin-left: 10px;
	display: table;
	border-radius: 30px;
	animation: logoAnim 5s linear infinite;
}
@keyframes logoAnim {
	0% {
		border-radius: 30px 0 0 0;
	}
	25% {
		border-radius: 0 30px 0 0;
	}
	50% {
		border-radius: 0 0 30px 0;
	}
	75% {
		border-radius: 0 0 0 30px;
	}
	100% {
		border-radius: 30px 0 0 0;
	}
}

.hamburger-menu-icon, .navbar-close-icon {
	position: absolute;
	left: 0;
	padding: 0 20px;
	height: 100%;
	border: none;
	background-color: transparent;
}
.hamburger-menu-icon .hamburger-icon-bar {
	width: 30px;
	height: 3px;
	border-radius: 4px;
	background-color: var(--color-white);
}
.hamburger-menu-icon .hamburger-icon-bar:not(:last-of-type) {
	margin-bottom: 6px;
}

.navbar-close-icon {
	color: var(--color-white);
	height: 60.5px;
	font-size: 3rem;
}
