/* for mobile or tablet --- common --- */
@media only screen and (max-width: 700px) {
	/* utils */
	.m-flex-col {
		display: flex;
		flex-direction: column;
	}
	.m-justify-center {
		display: flex;
		justify-content: center;
	}
	.m-full-width {
		width: 100%;
	}

	/* common */
	.styled-btn {
		margin: auto;
	}

	/* slider */
	.content .prev-btn, .content .next-btn {
		padding: 10px 6px;
		margin-top: -35px;
		font-size: unset;
	}
	.content .slider-list-container {
		padding: 0 30px;
	}
	.content .indicators-container .slide-indicator {
		width: 20px;
	}
}

/* for mobile or tablet --- navbar --- */
@media only screen and (max-width: 700px) {
	.m-nav {
		display: block;
	}
	.d-nav {
		display: none;
	}
	.m-nav-bar {
		display: flex;
		position: fixed;
		left: 0;
		top: 0;
		transform: translateX(-80vw);
		width: 80vw;
		height: 100vh;
		transition: transform 0.2s;
		background-color: var(--primary-bg-color);
	}
	.m-nav-bar.show {
		transform: translateX(0);
	}
}

/* for mobile or tablet --- home --- */
@media only screen and (max-width: 700px) {
	.home .content {
		flex-direction: column;
	}
	.home .content .text-content {
		font-size: unset;
	}
}

/* for mobile or tablet --- about --- */
@media only screen and (max-width: 700px) {
	.about .content {
		flex-direction: column-reverse;
	}
}

/* for mobile or tablet --- skills --- */
@media only screen and (max-width: 700px) {
	.skill-category-container {
		flex-direction: column;
	}
}

/* for mobile or tablet --- project --- */
@media only screen and (max-width: 700px) {
	.project-details-container > article {
		width: 50%;
	}
}
@media only screen and (max-width: 468px) {
	.project-details-container > article {
		width: 100%;
	}
	.project-details-container > article:last-of-type {
		margin-top: 26px;
	}
}

/* for mobile or tablet --- footer --- */
@media only screen and (max-width: 700px) {
	.footer .content {
		flex-direction: column;
	}
}
