/* skills */
.skills {
	position: relative;
	overflow: hidden;
}

.skill-category-container {
	display: flex;
	justify-content: space-evenly;
}

.skill-category ul {
	list-style-type: none;
}

.skill-category li a {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.skill-category li a img {
	margin-right: 10px;
}
.skill-category li a img.react-hook-form {
	background-color: var(--color-react-hook-form);
	border-radius: 4px;
}
