body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	background-color: #a2d1ff;

	/* --dark-gray: #1E1E1E; */
	/* --slate: #2B2B2B; */
	/* --dark-navy-blue: #1A1A2E;  considerable */
	/* --deep-purple: #2D1A45; */
	/* --dark-brown: #2C1A1A; */
	--navy-blue: #021526;
	--navy-blue-bg-transparent: #021627bf;

	--color-blue-1: #0198d2;
	--color-blue-1-transparent: #0197d280;
	--color-orange-1: #ffa300;

	/* --bright-blue: #1E90FF; */
	/* --cyan: #00FFFF; */
	/* --green: #32CD32; */
	/* --orange: #FFA500; */
	/* --yellow: #FFD700; */
	/* --purple: #8A2BE2; */
}
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

picture {
	display: flex;
}
picture > img {
	width: 100%;
}

.profile {
	width: 80%;
	max-width: 300px;
	text-align: center;
	vertical-align: middle;

	.card {
		padding: 2px;
	}
}

section:not(.home) .text-content {
	color: #fff;

	h2,
	h3,
	h4 {
		font-family: 'Sofia', Verdana, Geneva, Tahoma, sans-serif;
		color: var(--color-orange-1);
	}
}

/* Content of page */
.card {
	margin: 20px auto;
	border-radius: 4px;
	background-color: rgb(218, 254, 253);
	box-shadow: 0px 0px 10px rgb(99, 99, 99);
	width: 95%;
	transition: all 0.5s;

	p,
	li {
		padding: 0 20px;
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--navy-blue-bg-transparent);
	z-index: 0;
}

.content {
	z-index: 1;
	padding: 20px;
	position: inherit;
	background-color: unset;
}

.styled-btn {
	display: inline-block;
	margin-top: 5px;
	padding: 6px 10px;
	border: none;
	border-radius: 4px;
	font-size: medium;
	color: var(--color-white);
	background: linear-gradient(45deg, var(--color-blue-1) 50%, var(--color-orange-1) 50%);
	background-size: 300%;
	transition: all 0.5s;

	&:hover {
		background-position: 100%;
		transform: scale(1.1) rotate(3deg);
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
	}
}
a {
	text-decoration: none;
	color: #fff;
}
a:active, a:visited {
	color: #fff;
}

#top-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	background-color: #89e0dc;
	border-radius: 50%;
	color: black;
}

.sub-heading {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

/* padding utils */
.pt-20 {
	padding-top: 20px;
}
