body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	background-color: #a2d1ff;

	/* --dark-gray: #1E1E1E; */
	/* --slate: #2B2B2B; */
	/* --dark-navy-blue: #1A1A2E;  considerable */
	/* --deep-purple: #2D1A45; */
	/* --dark-brown: #2C1A1A; */
	--navy-blue: #021526;
	--navy-blue-bg-transparent: #021627bf;

	--color-blue-1: #0198d2;

	/* --bright-blue: #1E90FF; */
	/* --cyan: #00FFFF; */
	/* --green: #32CD32; */
	/* --orange: #FFA500; */
	/* --yellow: #FFD700; */
	/* --purple: #8A2BE2; */
}
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

picture {
	display: flex;
}
picture > img {
	width: 100%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--navy-blue-bg-transparent);
	z-index: 0;
}
.content {
	z-index: 1;
	position: inherit;
}

.profile {
	width: 80%;
	max-width: 300px;
	text-align: center;
	vertical-align: middle;

	.card {
		padding: 2px;
	}
}

/* Content of page */
.card {
	padding: 10px;
	margin: 20px auto;
	border-radius: 4px;
	background-color: rgb(218, 254, 253);
	box-shadow: 0px 0px 10px rgb(99, 99, 99);
	width: 95%;
	transition: all 0.5s;
}

#top-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	background-color: #89e0dc;
	border-radius: 50%;
	color: black;
}
